  body {
    background-color: tan;
  }

  .header {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  h1 {
    font-size: 40px;
  }
  
  .board {
    height: 505px;
    width: 505px;
    border: 5px solid black;
    background-color: rgba(246, 242, 242, 0.887);
  }

  .ghost {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 588px;
    left: 238px;
    background-image: url("/src/images/ghost.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pacman {
    height: 30px;
    width: 30px;
    background-image: url("/src/images/pacman.png");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
  }

  .buttons {
    display: flex;
  }

  button{
    border-radius: 3px;
    background-color: rgb(147, 146, 145);
    margin-bottom: 20px;
    margin-left: 60px;
    height: 30px;
    width: 90px;
    font-size: 18px;
  }

  .score {
    font-size: xx-large;
    position: absolute;
    left: 770px;
    top: 100px
  }

  .highscore {
    font-size: x-large;
  }

  .app {
    position: absolute;
    left: 690px;
    top: 175px
  }

  .title {
    padding-top: 15px;
  }

  .restart {
    width: 110px;
    position: absolute;
    top: -67px;
    left: -383px;
  }