.board {
    height: 500px;
    width: 500px;
    border: 5px solid black;
    background-color: rgba(250, 235, 215, 0);
}

  .ship {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top: 0;
    border-bottom: 25px solid rgba(199, 36, 18, 0.853);
    position: absolute;
    top: 463px;
    left: 238px;
  }

  .asteroid {
    height: 15px;
    width: 15px;
    border: 2px solid blue;
    position: absolute;
  }